.btn {
	background-color: #007bff;
	display: flex;
	flex-direction: column;
	color: white;
	padding: 8px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	font-size: 0.8rem;
	margin: 10px auto;
}

.btn:hover {
	background-color: #0056b3;
}

.buttons {
	/* display: flex; */
	margin-block: 20px;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	margin-bottom: 20px;
}
